In [1]:
from transform import transform_trafficData, transform_weatherData, get_y, create_matrix

/Users/hadoop1/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
trainDf, testDf = create_matrix()

transform.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  weatherDropDf['date'] = date
/Users/hadoop1/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2748: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

transforming 2016-01-01 training data...
transforming 2016-01-02 training data...
transforming 2016-01-03 training data...
transforming 2016-01-04 training data...
transforming 2016-01-05 training data...
transforming 2016-01-06 training data...
transforming 2016-01-07 training data...
transforming 2016-01-08 training data...
transforming 2016-01-09 training data...
transforming 2016-01-10 training data...
transforming 2016-01-11 training data...
transforming 2016-01-12 training data...
transforming 2016-01-13 training data...
transforming 2016-01-14 training data...
transforming 2016-01-15 training data...
transforming 2016-01-16 training data...
transforming 2016-01-17 training data...
transforming 2016-01-18 training data...
transforming 2016-01-19 training data...
transforming 2016-01-20 training data...
transforming 2016-01-21 training data...
trasforming 2016-01-22 testing data...

utility.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  rowTemp[key] = np.NaN
utility.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  subDf.loc[i] = rowTemp
utility.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  subDf.sort_index(inplace=True)
/Users/hadoop1/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2756: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
utility.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  subDf['slot'] = subDf.index
utility.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  subDf['district_id'] = districtId
utility.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  rowTemp[key] = np.NaN
utility.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.loc[i] = rowTemp
utility.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.sort_index(inplace=True)
transform.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  record['slot'] = testDate

trasforming 2016-01-24 testing data...
trasforming 2016-01-26 testing data...
trasforming 2016-01-28 testing data...
trasforming 2016-01-30 testing data...

In [5]:
weatherDf = transform_weatherData('2016-01-26', folder='testing')

In [8]:
trafficDf = transform_trafficData('2016-01-26', folder='testing')

In [11]:
yDf = get_y('2016-01-26', folder='testing')

In [12]:
yDf

                 date  slot district_id  request_num  answer_num  gap
time_slot
43         2016-01-26    43          50            1           1    0
44         2016-01-26    44          50            1           0    1
45         2016-01-26    45          50            2           2    0
56         2016-01-26    56          50            4           3    1
67         2016-01-26    67          50            1           1    0
68         2016-01-26    68          50            4           2    2
69         2016-01-26    69          50            1           1    0
79         2016-01-26    79          50            5           2    3
80         2016-01-26    80          50            2           1    1
81         2016-01-26    81          50            3           2    1
91         2016-01-26    91          50            3           2    1
92         2016-01-26    92          50            1           1    0
93         2016-01-26    93          50            5           5    0
103        2016-01-26   103          50            3           3    0
105        2016-01-26   105          50            2           1    1
115        2016-01-26   115          50            3           2    1
128        2016-01-26   128          50            3           3    0
129        2016-01-26   129          50            1           1    0
139        2016-01-26   139          50            3           0    3
141        2016-01-26   141          50            2           2    0
44         2016-01-26    44          43            1           1    0
45         2016-01-26    45          43            2           1    1
55         2016-01-26    55          43            3           1    2
57         2016-01-26    57          43            2           0    2
68         2016-01-26    68          43            2           0    2
69         2016-01-26    69          43            4           3    1
79         2016-01-26    79          43            1           1    0
80         2016-01-26    80          43            3           3    0
81         2016-01-26    81          43            1           1    0
91         2016-01-26    91          43            9           2    7
...               ...   ...         ...          ...         ...  ...
129        2016-01-26   129          27          105          92   13
139        2016-01-26   139          27           76          74    2
140        2016-01-26   140          27           60          54    6
141        2016-01-26   141          27           64          59    5
43         2016-01-26    43          32            3           0    3
44         2016-01-26    44          32            6           2    4
45         2016-01-26    45          32            9           3    6
55         2016-01-26    55          32           10           5    5
56         2016-01-26    56          32            7           5    2
57         2016-01-26    57          32            2           1    1
68         2016-01-26    68          32            2           1    1
69         2016-01-26    69          32            1           1    0
79         2016-01-26    79          32            1           1    0
80         2016-01-26    80          32            3           3    0
81         2016-01-26    81          32            2           2    0
91         2016-01-26    91          32            6           3    3
92         2016-01-26    92          32            1           1    0
93         2016-01-26    93          32            2           1    1
103        2016-01-26   103          32            5           3    2
104        2016-01-26   104          32            7           7    0
105        2016-01-26   105          32            6           6    0
115        2016-01-26   115          32            4           4    0
116        2016-01-26   116          32            6           4    2
117        2016-01-26   117          32            4           4    0
127        2016-01-26   127          32            3           3    0
128        2016-01-26   128          32            2           2    0
129        2016-01-26   129          32            2           0    2
139        2016-01-26   139          32            3           3    0
140        2016-01-26   140          32            2           2    0
141        2016-01-26   141          32            1           0    1

[1650 rows x 6 columns]

In [16]:
import pandas as pd

In [19]:
pd.rolling_window(yDf, window=3)

/Users/hadoop1/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(center=False,window=3,axis=0).mean()
  if __name__ == '__main__':

,date,slot,district_id,request_num,answer_num,gap
time_slot,,,,,,
43,2016-01-26,NaN,50,NaN,NaN,NaN
44,2016-01-26,NaN,50,NaN,NaN,NaN
45,2016-01-26,44.000000,50,1.333333,1.000000,0.333333
56,2016-01-26,48.333333,50,2.333333,1.666667,0.666667
67,2016-01-26,56.000000,50,2.333333,2.000000,0.333333
68,2016-01-26,63.666667,50,3.000000,2.000000,1.000000
69,2016-01-26,68.000000,50,2.000000,1.333333,0.666667
79,2016-01-26,72.000000,50,3.333333,1.666667,1.666667
80,2016-01-26,76.000000,50,2.666667,1.333333,1.333333
81,2016-01-26,80.000000,50,3.333333,1.666667,1.666667
91,2016-01-26,84.000000,50,2.666667,1.666667,1.000000
92,2016-01-26,88.000000,50,2.333333,1.666667,0.666667
93,2016-01-26,92.000000,50,3.000000,2.666667,0.333333
103,2016-01-26,96.000000,50,3.000000,3.000000,0.000000
105,2016-01-26,100.333333,50,3.333333,3.000000,0.333333
115,2016-01-26,107.666667,50,2.666667,2.000000,0.666667
128,2016-01-26,116.000000,50,2.666667,2.000000,0.666667
129,2016-01-26,124.000000,50,2.333333,2.000000,0.333333
139,2016-01-26,132.000000,50,2.333333,1.333333,1.000000
141,2016-01-26,136.333333,50,2.000000,1.000000,1.000000
44,2016-01-26,108.000000,43,2.000000,1.000000,1.000000
45,2016-01-26,76.666667,43,1.666667,1.333333,0.333333
55,2016-01-26,48.000000,43,2.000000,1.000000,1.000000
57,2016-01-26,52.333333,43,2.333333,0.666667,1.666667
68,2016-01-26,60.000000,43,2.333333,0.333333,2.000000
69,2016-01-26,64.666667,43,2.666667,1.000000,1.666667
79,2016-01-26,72.000000,43,2.333333,1.333333,1.000000
80,2016-01-26,76.000000,43,2.666667,2.333333,0.333333
81,2016-01-26,80.000000,43,1.666667,1.666667,0.000000
91,2016-01-26,84.000000,43,4.333333,2.000000,2.333333
...,...,...,...,...,...,...
129,2016-01-26,128.000000,27,104.666667,94.333333,10.333333
139,2016-01-26,132.000000,27,93.000000,85.000000,8.000000
140,2016-01-26,136.000000,27,80.333333,73.333333,7.000000
141,2016-01-26,140.000000,27,66.666667,62.333333,4.333333
43,2016-01-26,108.000000,32,42.333333,37.666667,4.666667
44,2016-01-26,76.000000,32,24.333333,20.333333,4.000000
45,2016-01-26,44.000000,32,6.000000,1.666667,4.333333
55,2016-01-26,48.000000,32,8.333333,3.333333,5.000000
56,2016-01-26,52.000000,32,8.666667,4.333333,4.333333
57,2016-01-26,56.000000,32,6.333333,3.666667,2.666667
68,2016-01-26,60.333333,32,3.666667,2.333333,1.333333
69,2016-01-26,64.666667,32,1.666667,1.000000,0.666667
79,2016-01-26,72.000000,32,1.333333,1.000000,0.333333
80,2016-01-26,76.000000,32,1.666667,1.666667,0.000000
81,2016-01-26,80.000000,32,2.000000,2.000000,0.000000
91,2016-01-26,84.000000,32,3.666667,2.666667,1.000000
92,2016-01-26,88.000000,32,3.000000,2.000000,1.000000
93,2016-01-26,92.000000,32,3.000000,1.666667,1.333333
103,2016-01-26,96.000000,32,2.666667,1.666667,1.000000
104,2016-01-26,100.000000,32,4.666667,3.666667,1.000000
105,2016-01-26,104.000000,32,6.000000,5.333333,0.666667
115,2016-01-26,108.000000,32,5.666667,5.666667,0.000000
116,2016-01-26,112.000000,32,5.333333,4.666667,0.666667
117,2016-01-26,116.000000,32,4.666667,4.000000,0.666667
127,2016-01-26,120.000000,32,4.333333,3.666667,0.666667
128,2016-01-26,124.000000,32,3.000000,3.000000,0.000000
129,2016-01-26,128.000000,32,2.333333,1.666667,0.666667
139,2016-01-26,132.000000,32,2.333333,1.666667,0.666667
140,2016-01-26,136.000000,32,2.333333,1.666667,0.666667
141,2016-01-26,140.000000,32,2.000000,1.666667,0.333333

In [ ]:
yDf[['']]

In [40]:
45 in yDf.index

True

In [20]:
range(46, 144, 12)

[46, 58, 70, 82, 94, 106, 118, 130, 142]

In [27]:
yDf.iloc[2]

date           2016-01-26
slot                   45
district_id            50
request_num             2
answer_num              2
gap                     0
Name: 45, dtype: object

In [28]:
import numpy as np

In [43]:
yDf = get_y('2016-01-26', folder='testing')

In [45]:
windowFunDf = pd.rolling_window(yDf, window=3)

/Users/hadoop1/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(center=False,window=3,axis=0).mean()
  if __name__ == '__main__':

In [46]:
windowFunDf

,date,slot,district_id,request_num,answer_num,gap
time_slot,,,,,,
43,2016-01-26,NaN,50,NaN,NaN,NaN
44,2016-01-26,NaN,50,NaN,NaN,NaN
45,2016-01-26,44.000000,50,1.333333,1.000000,0.333333
56,2016-01-26,48.333333,50,2.333333,1.666667,0.666667
67,2016-01-26,56.000000,50,2.333333,2.000000,0.333333
68,2016-01-26,63.666667,50,3.000000,2.000000,1.000000
69,2016-01-26,68.000000,50,2.000000,1.333333,0.666667
79,2016-01-26,72.000000,50,3.333333,1.666667,1.666667
80,2016-01-26,76.000000,50,2.666667,1.333333,1.333333
81,2016-01-26,80.000000,50,3.333333,1.666667,1.666667
91,2016-01-26,84.000000,50,2.666667,1.666667,1.000000
92,2016-01-26,88.000000,50,2.333333,1.666667,0.666667
93,2016-01-26,92.000000,50,3.000000,2.666667,0.333333
103,2016-01-26,96.000000,50,3.000000,3.000000,0.000000
105,2016-01-26,100.333333,50,3.333333,3.000000,0.333333
115,2016-01-26,107.666667,50,2.666667,2.000000,0.666667
128,2016-01-26,116.000000,50,2.666667,2.000000,0.666667
129,2016-01-26,124.000000,50,2.333333,2.000000,0.333333
139,2016-01-26,132.000000,50,2.333333,1.333333,1.000000
141,2016-01-26,136.333333,50,2.000000,1.000000,1.000000
44,2016-01-26,108.000000,43,2.000000,1.000000,1.000000
45,2016-01-26,76.666667,43,1.666667,1.333333,0.333333
55,2016-01-26,48.000000,43,2.000000,1.000000,1.000000
57,2016-01-26,52.333333,43,2.333333,0.666667,1.666667
68,2016-01-26,60.000000,43,2.333333,0.333333,2.000000
69,2016-01-26,64.666667,43,2.666667,1.000000,1.666667
79,2016-01-26,72.000000,43,2.333333,1.333333,1.000000
80,2016-01-26,76.000000,43,2.666667,2.333333,0.333333
81,2016-01-26,80.000000,43,1.666667,1.666667,0.000000
91,2016-01-26,84.000000,43,4.333333,2.000000,2.333333
...,...,...,...,...,...,...
129,2016-01-26,128.000000,27,104.666667,94.333333,10.333333
139,2016-01-26,132.000000,27,93.000000,85.000000,8.000000
140,2016-01-26,136.000000,27,80.333333,73.333333,7.000000
141,2016-01-26,140.000000,27,66.666667,62.333333,4.333333
43,2016-01-26,108.000000,32,42.333333,37.666667,4.666667
44,2016-01-26,76.000000,32,24.333333,20.333333,4.000000
45,2016-01-26,44.000000,32,6.000000,1.666667,4.333333
55,2016-01-26,48.000000,32,8.333333,3.333333,5.000000
56,2016-01-26,52.000000,32,8.666667,4.333333,4.333333
57,2016-01-26,56.000000,32,6.333333,3.666667,2.666667
68,2016-01-26,60.333333,32,3.666667,2.333333,1.333333
69,2016-01-26,64.666667,32,1.666667,1.000000,0.666667
79,2016-01-26,72.000000,32,1.333333,1.000000,0.333333
80,2016-01-26,76.000000,32,1.666667,1.666667,0.000000
81,2016-01-26,80.000000,32,2.000000,2.000000,0.000000
91,2016-01-26,84.000000,32,3.666667,2.666667,1.000000
92,2016-01-26,88.000000,32,3.000000,2.000000,1.000000
93,2016-01-26,92.000000,32,3.000000,1.666667,1.333333
103,2016-01-26,96.000000,32,2.666667,1.666667,1.000000
104,2016-01-26,100.000000,32,4.666667,3.666667,1.000000
105,2016-01-26,104.000000,32,6.000000,5.333333,0.666667
115,2016-01-26,108.000000,32,5.666667,5.666667,0.000000
116,2016-01-26,112.000000,32,5.333333,4.666667,0.666667
117,2016-01-26,116.000000,32,4.666667,4.000000,0.666667
127,2016-01-26,120.000000,32,4.333333,3.666667,0.666667
128,2016-01-26,124.000000,32,3.000000,3.000000,0.000000
129,2016-01-26,128.000000,32,2.333333,1.666667,0.666667
139,2016-01-26,132.000000,32,2.333333,1.666667,0.666667
140,2016-01-26,136.000000,32,2.333333,1.666667,0.666667
141,2016-01-26,140.000000,32,2.000000,1.666667,0.333333

In [53]:
yDf.loc[45]

                 date  slot district_id  request_num  answer_num  gap
time_slot
45         2016-01-26    45          50            2           2    0
45         2016-01-26    45          43            2           1    1
45         2016-01-26    45          46          270         194   76
45         2016-01-26    45          56           11           9    2
45         2016-01-26    45           6           40          34    6
45         2016-01-26    45          66           23          23    0
45         2016-01-26    45          31           26          21    5
45         2016-01-26    45          18           21          20    1
45         2016-01-26    45          28          241         233    8
45         2016-01-26    45          14          165         125   40
45         2016-01-26    45          16           14          13    1
45         2016-01-26    45          21          104         100    4
45         2016-01-26    45          24          169         147   22
45         2016-01-26    45          25           42          41    1
45         2016-01-26    45          47           18          17    1
45         2016-01-26    45          35           16          15    1
45         2016-01-26    45          23          550         347  203
45         2016-01-26    45          13           24          20    4
45         2016-01-26    45           5            2           2    0
45         2016-01-26    45          10            8           7    1
45         2016-01-26    45          38           26          26    0
45         2016-01-26    45          29           46          43    3
45         2016-01-26    45          33           13          13    0
45         2016-01-26    45          26           54          38   16
45         2016-01-26    45           3            6           6    0
45         2016-01-26    45          48          244         235    9
45         2016-01-26    45          39            6           3    3
45         2016-01-26    45          40           11          10    1
45         2016-01-26    45          12          134         129    5
45         2016-01-26    45          49            4           4    0
...               ...   ...         ...          ...         ...  ...
45         2016-01-26    45          30            6           6    0
45         2016-01-26    45           8          623         246  377
45         2016-01-26    45          44           27          12   15
45         2016-01-26    45          22           35          31    4
45         2016-01-26    45          34           12          11    1
45         2016-01-26    45           1          177         177    0
45         2016-01-26    45          20          122         118    4
45         2016-01-26    45           7          150          92   58
45         2016-01-26    45          19           57          57    0
45         2016-01-26    45          62            2           1    1
45         2016-01-26    45          17           14          14    0
45         2016-01-26    45          37          230         142   88
45         2016-01-26    45           4           64          54   10
45         2016-01-26    45           9           35          35    0
45         2016-01-26    45          57           28          28    0
45         2016-01-26    45          64           13          11    2
45         2016-01-26    45          54           23          23    0
45         2016-01-26    45          45            7           7    0
45         2016-01-26    45          42          110         108    2
45         2016-01-26    45          58            3           3    0
45         2016-01-26    45          36           35          35    0
45         2016-01-26    45          51          360         347   13
45         2016-01-26    45          59           34          10   24
45         2016-01-26    45          11           48          48    0
45         2016-01-26    45          61            1           1    0
45         2016-01-26    45           2           27          27    0
45         2016-01-26    45          53           17          17    0
45         2016-01-26    45          41           11          11    0
45         2016-01-26    45          27           92          77   15
45         2016-01-26    45          32            9           3    6

[62 rows x 6 columns]

In [ ]:
def retrive_index(index):
    if (index-1) in

In [54]:
yDf

                 date  slot district_id  request_num  answer_num  gap
time_slot
43         2016-01-26    43          50            1           1    0
44         2016-01-26    44          50            1           0    1
45         2016-01-26    45          50            2           2    0
56         2016-01-26    56          50            4           3    1
67         2016-01-26    67          50            1           1    0
68         2016-01-26    68          50            4           2    2
69         2016-01-26    69          50            1           1    0
79         2016-01-26    79          50            5           2    3
80         2016-01-26    80          50            2           1    1
81         2016-01-26    81          50            3           2    1
91         2016-01-26    91          50            3           2    1
92         2016-01-26    92          50            1           1    0
93         2016-01-26    93          50            5           5    0
103        2016-01-26   103          50            3           3    0
105        2016-01-26   105          50            2           1    1
115        2016-01-26   115          50            3           2    1
128        2016-01-26   128          50            3           3    0
129        2016-01-26   129          50            1           1    0
139        2016-01-26   139          50            3           0    3
141        2016-01-26   141          50            2           2    0
44         2016-01-26    44          43            1           1    0
45         2016-01-26    45          43            2           1    1
55         2016-01-26    55          43            3           1    2
57         2016-01-26    57          43            2           0    2
68         2016-01-26    68          43            2           0    2
69         2016-01-26    69          43            4           3    1
79         2016-01-26    79          43            1           1    0
80         2016-01-26    80          43            3           3    0
81         2016-01-26    81          43            1           1    0
91         2016-01-26    91          43            9           2    7
...               ...   ...         ...          ...         ...  ...
129        2016-01-26   129          27          105          92   13
139        2016-01-26   139          27           76          74    2
140        2016-01-26   140          27           60          54    6
141        2016-01-26   141          27           64          59    5
43         2016-01-26    43          32            3           0    3
44         2016-01-26    44          32            6           2    4
45         2016-01-26    45          32            9           3    6
55         2016-01-26    55          32           10           5    5
56         2016-01-26    56          32            7           5    2
57         2016-01-26    57          32            2           1    1
68         2016-01-26    68          32            2           1    1
69         2016-01-26    69          32            1           1    0
79         2016-01-26    79          32            1           1    0
80         2016-01-26    80          32            3           3    0
81         2016-01-26    81          32            2           2    0
91         2016-01-26    91          32            6           3    3
92         2016-01-26    92          32            1           1    0
93         2016-01-26    93          32            2           1    1
103        2016-01-26   103          32            5           3    2
104        2016-01-26   104          32            7           7    0
105        2016-01-26   105          32            6           6    0
115        2016-01-26   115          32            4           4    0
116        2016-01-26   116          32            6           4    2
117        2016-01-26   117          32            4           4    0
127        2016-01-26   127          32            3           3    0
128        2016-01-26   128          32            2           2    0
129        2016-01-26   129          32            2           0    2
139        2016-01-26   139          32            3           3    0
140        2016-01-26   140          32            2           2    0
141        2016-01-26   141          32            1           0    1

[1650 rows x 6 columns]

In [59]:
yDisDf = yDf[yDf['district_id'] == '1']

In [64]:
type(yDisDf.loc[45])

pandas.core.series.Series

In [66]:
row1 = yDisDf.loc[45]

In [67]:
row2 = yDisDf.loc[57]

In [68]:
row2

date           2016-01-26
slot                   57
district_id             1
request_num           174
answer_num            167
gap                     7
Name: 57, dtype: object

In [87]:
row2.name = 56

In [94]:
row2.rename(name=54, inplace=True)

date           2016-01-26
slot                   57
district_id             1
request_num           174
answer_num            167
gap                     7
dtype: object

In [95]:
row2

date           2016-01-26
slot                   57
district_id             1
request_num           174
answer_num            167
gap                     7
dtype: object

In [71]:
pd.DataFrame([row1, row2])

          date  slot district_id  request_num  answer_num  gap
45  2016-01-26    45           1          177         177    0
57  2016-01-26    57           1          174         167    7

In [58]:
row = yDf.iloc[0]

In [110]:
def predict_by_window(yDisDf):
    '''within a district dataframe, predict by window function
    
    Notes: this function is specifically for a district's dataframe,
           used for a outside loop, groupby
    
    Argvs: 
        yDisDf: a y dataframe get from get_y function, then groupby('district')
    
    Return:
        a 
       
        
    '''
    colList = ['request_num', 'answer_num', 'gap']
    
    windowList = ['boxcar', 'triang', 'blackman', 'hamming', 'bartlett', 'parzen', 'bohman', 'blackmanharris', 'nuttall',
                  'barthann']
    # extract date, slot and district_id columns
    dateSeries = yDisDf['date']
    slotSeries = yDisDf['slot']
    districtIdSeries = yDisDf['district_id']
    
    headColDf = yDisDf[['date', 'slot', 'district_id']]
    
    for winType in windowList:
    
        windowFunDf = yDisDf.rolling(window=3, win_type=winType).mean()
        rowList = []
        for index in range(46, 144, 12):
            # check whether the row exist
            if (index-1) in yDisDf.index:
                rowGet = windowFunDf.loc[index-1]
                rowGet.name = index
            elif (index-2) in yDisDf.index:
                rowGet = windowFunDf.loc[index-2]
                rowGet.name = index
            elif (index-3) in yDisDf.index:
                rowGet = windowFunDf.loc[index-2]
                rowGet.name = index
            else:
                print 'something wrong!!!'

            rowList.append(rowGet)
        
        windowDf = pd.DataFrame(rowList)
        # rename columns names (add tag: window_type to request_num, answer_num and gap)
        # set up name dictionary
        colDict = {col:'{}_{}'.format(winType, col) for col in colList}
        windowDf.rename(columns=colDict, inplace=True)
        windowSubDf = windowDf[['request_num', 'answer_num', 'gap']]

In [116]:
test = pd.DataFrame([row1, row2])

In [117]:
test

                 date  slot district_id  request_num  answer_num  gap
45         2016-01-26    45           1          177         177    0
Unnamed 0  2016-01-26    57           1          174         167    7

In [118]:
test.rename(columns={"date": "DATE"})

                 DATE  slot district_id  request_num  answer_num  gap
45         2016-01-26    45           1          177         177    0
Unnamed 0  2016-01-26    57           1          174         167    7

In [111]:
predict_by_window(yDisDf)

           date   slot district_id  request_num  answer_num       gap
46   2016-01-26   44.0           1   138.354839  135.612903  2.741935
58   2016-01-26   56.0           1   209.935484  200.580645  9.354839
70   2016-01-26   68.0           1   116.225806  112.774194  3.451613
82   2016-01-26   80.0           1   161.516129  155.838710  5.677419
94   2016-01-26   92.0           1   138.870968  135.419355  3.451613
106  2016-01-26  104.0           1   190.870968  186.225806  4.645161
118  2016-01-26  116.0           1   182.000000  177.000000  5.000000
130  2016-01-26  128.0           1   227.612903  219.612903  8.000000
142  2016-01-26  140.0           1    67.193548   62.935484  4.258065

In [97]:
test = []
test.append('1')
print test
test.append('2')
print test

['1']
['1', '2']

In [49]:
def testIf(num):
    if num > 1:
        print num
    elif num > 2:
        print num + 1
    else:
        print 'aloha'

In [50]:
testIf(10)

10

In [6]:
weatherDf

                 date   slot  Weather  temperature   PM25
time_slot
43         2016-01-26   43.0      1.0         -2.0   60.0
44         2016-01-26   44.0      1.0         -2.0   60.0
45         2016-01-26   45.0      1.0         -2.0   60.0
46         2016-01-26   45.0      1.0         -2.0   60.0
58         2016-01-26   45.0      1.0         -2.0   60.0
67         2016-01-26   67.0      1.0          3.0   65.0
69         2016-01-26   69.0      1.0          3.0   65.0
70         2016-01-26   69.0      1.0          3.0   65.0
79         2016-01-26   79.0      1.0          5.0   66.0
80         2016-01-26   80.0      1.0          5.0   66.0
81         2016-01-26   81.0      1.0          5.0   66.0
82         2016-01-26   81.0      1.0          5.0   66.0
91         2016-01-26   91.0      1.0          7.0   59.0
92         2016-01-26   92.0      1.0          7.0   59.0
93         2016-01-26   93.0      1.0          7.0   59.0
94         2016-01-26   93.0      1.0          7.0   59.0
104        2016-01-26  104.0      1.0          6.0   58.0
105        2016-01-26  105.0      1.0          6.0   58.0
106        2016-01-26  105.0      1.0          6.0   58.0
115        2016-01-26  115.0      2.0          5.0   65.0
116        2016-01-26  116.0      2.0          5.0   65.0
117        2016-01-26  117.0      2.0          4.0   65.0
118        2016-01-26  117.0      2.0          4.0   65.0
127        2016-01-26  127.0      9.0          4.0   89.0
128        2016-01-26  128.0      9.0          4.0   89.0
130        2016-01-26  128.0      9.0          4.0   89.0
139        2016-01-26  139.0      3.0          3.0  101.0
140        2016-01-26  140.0      3.0          4.0  101.0
141        2016-01-26  141.0      3.0          4.0  101.0
142        2016-01-26  141.0      3.0          4.0  101.0

In [14]:
testDf

,date_x,slot,district_id,traffic_level1,traffic_level2,traffic_level3,traffic_level4,date_y,Weather,temperature,PM25,date,request_num,answer_num,gap
0,2016-01-22,43,1,1392.0,204.0,86.0,45.0,2016-01-22,2.0,2.0,51.0,2016-01-22,74.0,70.0,4.0
1,2016-01-22,44,1,1454.0,269.0,102.0,73.0,2016-01-22,2.0,2.0,51.0,2016-01-22,128.0,127.0,1.0
2,2016-01-22,45,1,1537.0,304.0,118.0,84.0,2016-01-22,2.0,2.0,51.0,2016-01-22,175.0,170.0,5.0
3,2016-01-22,45,1,1537.0,304.0,118.0,84.0,2016-01-22,2.0,2.0,51.0,2016-01-22,175.0,170.0,5.0
4,2016-01-22,46,1,1537.0,304.0,118.0,84.0,2016-01-22,2.0,2.0,51.0,NaN,NaN,NaN,NaN
5,2016-01-22,55,1,1819.0,324.0,122.0,72.0,2016-01-22,2.0,2.0,51.0,2016-01-22,269.0,266.0,3.0
6,2016-01-22,56,1,1784.0,357.0,110.0,52.0,2016-01-22,4.0,1.0,53.0,2016-01-22,235.0,234.0,1.0
7,2016-01-22,57,1,1736.0,373.0,133.0,82.0,2016-01-22,4.0,1.0,53.0,2016-01-22,210.0,199.0,11.0
8,2016-01-22,57,1,1736.0,373.0,133.0,82.0,2016-01-22,4.0,1.0,53.0,2016-01-22,210.0,199.0,11.0
9,2016-01-22,57,1,1736.0,373.0,133.0,82.0,2016-01-22,4.0,1.0,53.0,2016-01-22,210.0,199.0,11.0
10,2016-01-22,57,1,1736.0,373.0,133.0,82.0,2016-01-22,4.0,1.0,53.0,2016-01-22,210.0,199.0,11.0
11,2016-01-22,58,1,1736.0,373.0,133.0,82.0,2016-01-22,4.0,1.0,53.0,NaN,NaN,NaN,NaN
12,2016-01-22,67,1,1709.0,355.0,66.0,111.0,2016-01-22,4.0,1.0,53.0,2016-01-22,160.0,158.0,2.0
13,2016-01-22,68,1,1657.0,343.0,101.0,72.0,2016-01-22,4.0,1.0,53.0,2016-01-22,158.0,152.0,6.0
14,2016-01-22,69,1,1747.0,328.0,112.0,62.0,2016-01-22,4.0,1.0,53.0,2016-01-22,169.0,168.0,1.0
15,2016-01-22,70,1,1747.0,328.0,112.0,62.0,2016-01-22,4.0,1.0,53.0,NaN,NaN,NaN,NaN
16,2016-01-22,79,1,1595.0,346.0,119.0,78.0,2016-01-22,4.0,1.0,53.0,2016-01-22,172.0,171.0,1.0
17,2016-01-22,80,1,1624.0,374.0,129.0,95.0,2016-01-22,4.0,1.0,53.0,2016-01-22,191.0,188.0,3.0
18,2016-01-22,81,1,1662.0,330.0,74.0,86.0,2016-01-22,4.0,1.0,53.0,2016-01-22,173.0,168.0,5.0
19,2016-01-22,82,1,1662.0,330.0,74.0,86.0,2016-01-22,4.0,1.0,53.0,NaN,NaN,NaN,NaN
20,2016-01-22,91,1,1725.0,379.0,113.0,78.0,2016-01-22,4.0,1.0,53.0,2016-01-22,165.0,158.0,7.0
21,2016-01-22,92,1,1639.0,318.0,106.0,81.0,2016-01-22,6.0,1.0,64.0,2016-01-22,164.0,162.0,2.0
22,2016-01-22,92,1,1639.0,318.0,106.0,81.0,2016-01-22,6.0,1.0,64.0,2016-01-22,164.0,162.0,2.0
23,2016-01-22,92,1,1639.0,318.0,106.0,81.0,2016-01-22,6.0,1.0,64.0,2016-01-22,164.0,162.0,2.0
24,2016-01-22,93,1,1589.0,356.0,100.0,86.0,2016-01-22,6.0,1.0,64.0,2016-01-22,174.0,171.0,3.0
25,2016-01-22,94,1,1589.0,356.0,100.0,86.0,2016-01-22,6.0,1.0,64.0,NaN,NaN,NaN,NaN
26,2016-01-22,103,1,1677.0,439.0,135.0,108.0,2016-01-22,6.0,1.0,64.0,2016-01-22,345.0,338.0,7.0
27,2016-01-22,104,1,1640.0,443.0,138.0,112.0,2016-01-22,6.0,1.0,64.0,2016-01-22,283.0,266.0,17.0
28,2016-01-22,105,1,1664.0,459.0,179.0,112.0,2016-01-22,6.0,1.0,64.0,2016-01-22,257.0,254.0,3.0
29,2016-01-22,106,1,1664.0,459.0,179.0,112.0,2016-01-22,6.0,1.0,64.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,2016-01-30,79,9,648.0,143.0,55.0,37.0,2016-01-30,2.0,3.0,81.0,2016-01-30,40.0,35.0,5.0
2896,2016-01-30,80,9,647.0,152.0,48.0,24.0,2016-01-30,2.0,3.0,81.0,2016-01-30,32.0,32.0,0.0
2897,2016-01-30,81,9,624.0,147.0,34.0,51.0,2016-01-30,2.0,3.0,81.0,2016-01-30,29.0,26.0,3.0
2898,2016-01-30,81,9,624.0,147.0,34.0,51.0,2016-01-30,2.0,3.0,81.0,2016-01-30,29.0,26.0,3.0
2899,2016-01-30,82,9,624.0,147.0,34.0,51.0,2016-01-30,2.0,3.0,81.0,NaN,NaN,NaN,NaN
2900,2016-01-30,91,9,604.0,144.0,41.0,23.0,2016-01-30,2.0,4.0,67.0,2016-01-30,36.0,33.0,3.0
2901,2016-01-30,92,9,600.0,120.0,53.0,30.0,2016-01-30,3.0,4.0,67.0,2016-01-30,38.0,36.0,2.0
2902,2016-01-30,93,9,610.0,143.0,41.0,37.0,2016-01-30,2.0,4.0,67.0,2016-01-30,44.0,43.0,1.0
2903,2016-01-30,93,9,610.0,143.0,41.0,37.0,2016-01-30,2.0,4.0,67.0,2016-01-30,44.0,43.0,1.0
2904,2016-01-30,94,9,610.0,143.0,41.0,37.0,2016-01-30,2.0,4.0,67.0,NaN,NaN,NaN,NaN
2905,2016-01-30,103,9,644.0,162.0,60.0,37.0,2016-01-30,2.0,4.0,58.0,2016-01-30,56.0,55.0,1.0
2906,2016-01-30,104,9,707.0,156.0,50.0,23.0,2016-01-30,2.0,4.0,58.0,2016-01-30,49.0,46.0,3.0
2907,2016-01-30,105,9,683.0,160.0,65.0,24.0,2016-01-30,2.0,4.0,58.0,2016-01-30,42.0,39.0,3.0
2908,2016-01-30,105,9,683.0,160.0,65.0,24.0,2016-01-30,2.0,4.0,58.0,2016-01-30,42.0,39.0,3.0
2909,2016-01-30,106,9,683.0,160.0,65.0,24.0,2016-01-30,2.0,4.0,58.0,NaN,NaN,NaN,NaN
2910,2016-01-30,115,9,647.0,141.0,53.0,32.0,2016-01-30,4.0,3.0,56.0,2016-01-30,35.0,33.0,2.0
2911,2016-01-30,116,9,643.0,153.0,71.0,16.0,2016-01-30,4.0,3.0,56.0,2016-01-30,50.0,47.0,3.0
2912,2016-01-30,117,9,634.0,162.0,40.0,41.0,2016-01-30,4.0,3.0,56.0,2016-01-30,39.0,38.0,1.0
2913,2016-01-30,117,9,634.0,162.0,40.0,41.0,2016-01-30,4.0,3.0,56.0,2016-01-30,39.0,38.0,1.0
2914,2016-01-30,118,9,634.0,162.0,40.0,41.0,2016-01-30,4.0,3.0,56.0,NaN,NaN,NaN,NaN
2915,2016-01-30,127,9,663.0,132.0,44.0,27.0,2016-01-30,2.0,3.0,64.0,2016-01-30,54.0,52.0,2.0
2916,2016-01-30,128,9,641.0,128.0,40.0,24.0,2016-01-30,2.0,3.0,64.0,2016-01-30,40.0,39.0,1.0
2917,2016-01-30,129,9,702.0,130.0,37.0,48.0,2016-01-30,2.0,3.0,64.0,2016-01-30,43.0,43.0,0.0
2918,2016-01-30,129,9,702.0,130.0,37.0,48.0,2016-01-30,2.0,3.0,64.0,2016-01-30,43.0,43.0,0.0
2919,2016-01-30,130,9,702.0,130.0,37.0,48.0,2016-01-30,2.0,3.0,64.0,NaN,NaN,NaN,NaN
2920,2016-01-30,139,9,589.0,102.0,36.0,28.0,2016-01-30,3.0,3.0,68.0,2016-01-30,15.0,14.0,1.0
2921,2016-01-30,140,9,624.0,80.0,25.0,12.0,2016-01-30,3.0,3.0,68.0,2016-01-30,20.0,19.0,1.0
2922,2016-01-30,141,9,573.0,98.0,24.0,21.0,2016-01-30,3.0,3.0,68.0,2016-01-30,19.0,17.0,2.0
2923,2016-01-30,141,9,573.0,98.0,24.0,21.0,2016-01-30,3.0,3.0,68.0,2016-01-30,19.0,17.0,2.0
2924,2016-01-30,142,9,573.0,98.0,24.0,21.0,2016-01-30,3.0,3.0,68.0,NaN,NaN,NaN,NaN

In [24]:
testSeries = pd.Series(range(1,10))

In [26]:
testSeries

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [29]:
testSeries.rolling(window=3).mean()

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [86]:
weatherSlotDf = transform_weatherData('2016-01-26', folder='testing')

In [32]:
ySlotDf = get_y('2016-01-26', folder='testing')

In [87]:
weatherSlotDf

                 date  slot  Weather  temperature  PM25
time_slot
43         2016-01-26    43        1         -2.0    60
44         2016-01-26    44        1         -2.0    60
45         2016-01-26    45        1         -2.0    60
67         2016-01-26    67        1          3.0    65
69         2016-01-26    69        1          3.0    65
79         2016-01-26    79        1          5.0    66
80         2016-01-26    80        1          5.0    66
81         2016-01-26    81        1          5.0    66
91         2016-01-26    91        1          7.0    59
92         2016-01-26    92        1          7.0    59
93         2016-01-26    93        1          7.0    59
104        2016-01-26   104        1          6.0    58
105        2016-01-26   105        1          6.0    58
115        2016-01-26   115        2          5.0    65
116        2016-01-26   116        2          5.0    65
117        2016-01-26   117        2          4.0    65
127        2016-01-26   127        9          4.0    89
128        2016-01-26   128        9          4.0    89
139        2016-01-26   139        3          3.0   101
140        2016-01-26   140        3          4.0   101
141        2016-01-26   141        3          4.0   101

In [71]:
weatherSlotDf.loc[46] = rowTemp

In [77]:
weatherSlotDf.sort_index(inplace=True)

In [85]:
weatherSlotDf

                 date   slot  Weather  temperature   PM25
time_slot
43         2016-01-26   43.0      1.0         -2.0   60.0
44         2016-01-26   44.0      1.0         -2.0   60.0
45         2016-01-26   45.0      1.0         -2.0   60.0
46                NaN    NaN      NaN          NaN    NaN
58                NaN    NaN      NaN          NaN    NaN
67         2016-01-26   67.0      1.0          3.0   65.0
69         2016-01-26   69.0      1.0          3.0   65.0
70                NaN    NaN      NaN          NaN    NaN
79         2016-01-26   79.0      1.0          5.0   66.0
80         2016-01-26   80.0      1.0          5.0   66.0
81         2016-01-26   81.0      1.0          5.0   66.0
82                NaN    NaN      NaN          NaN    NaN
91         2016-01-26   91.0      1.0          7.0   59.0
92         2016-01-26   92.0      1.0          7.0   59.0
93         2016-01-26   93.0      1.0          7.0   59.0
94                NaN    NaN      NaN          NaN    NaN
104        2016-01-26  104.0      1.0          6.0   58.0
105        2016-01-26  105.0      1.0          6.0   58.0
106               NaN    NaN      NaN          NaN    NaN
115        2016-01-26  115.0      2.0          5.0   65.0
116        2016-01-26  116.0      2.0          5.0   65.0
117        2016-01-26  117.0      2.0          4.0   65.0
118               NaN    NaN      NaN          NaN    NaN
127        2016-01-26  127.0      9.0          4.0   89.0
128        2016-01-26  128.0      9.0          4.0   89.0
130               NaN    NaN      NaN          NaN    NaN
139        2016-01-26  139.0      3.0          3.0  101.0
140        2016-01-26  140.0      3.0          4.0  101.0
141        2016-01-26  141.0      3.0          4.0  101.0
142               NaN    NaN      NaN          NaN    NaN

In [81]:
# initialize the record and set all columns to np.NaN
rowTemp = weatherSlotDf.iloc[0]
# set all values to NaN
for key in rowTemp.keys():
    rowTemp[key] = np.NaN

for i in range(46, 146, 12):
    weatherSlotDf.loc[i] = rowTemp

weatherSlotDf.sort_index(inplace=True)

/Users/hadoop1/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
weatherSlotDf.fillna(method='ffill')

                 date   slot  Weather  temperature   PM25
time_slot
43         2016-01-26   43.0      1.0         -2.0   60.0
44         2016-01-26   44.0      1.0         -2.0   60.0
45         2016-01-26   45.0      1.0         -2.0   60.0
46         2016-01-26   45.0      1.0         -2.0   60.0
58         2016-01-26   45.0      1.0         -2.0   60.0
67         2016-01-26   67.0      1.0          3.0   65.0
69         2016-01-26   69.0      1.0          3.0   65.0
70         2016-01-26   69.0      1.0          3.0   65.0
79         2016-01-26   79.0      1.0          5.0   66.0
80         2016-01-26   80.0      1.0          5.0   66.0
81         2016-01-26   81.0      1.0          5.0   66.0
82         2016-01-26   81.0      1.0          5.0   66.0
91         2016-01-26   91.0      1.0          7.0   59.0
92         2016-01-26   92.0      1.0          7.0   59.0
93         2016-01-26   93.0      1.0          7.0   59.0
94         2016-01-26   93.0      1.0          7.0   59.0
104        2016-01-26  104.0      1.0          6.0   58.0
105        2016-01-26  105.0      1.0          6.0   58.0
106        2016-01-26  105.0      1.0          6.0   58.0
115        2016-01-26  115.0      2.0          5.0   65.0
116        2016-01-26  116.0      2.0          5.0   65.0
117        2016-01-26  117.0      2.0          4.0   65.0
118        2016-01-26  117.0      2.0          4.0   65.0
127        2016-01-26  127.0      9.0          4.0   89.0
128        2016-01-26  128.0      9.0          4.0   89.0
130        2016-01-26  128.0      9.0          4.0   89.0
139        2016-01-26  139.0      3.0          3.0  101.0
140        2016-01-26  140.0      3.0          4.0  101.0
141        2016-01-26  141.0      3.0          4.0  101.0
142        2016-01-26  141.0      3.0          4.0  101.0

In [84]:
weatherSlotDf

                 date   slot  Weather  temperature   PM25
time_slot
43         2016-01-26   43.0      1.0         -2.0   60.0
44         2016-01-26   44.0      1.0         -2.0   60.0
45         2016-01-26   45.0      1.0         -2.0   60.0
46                NaN    NaN      NaN          NaN    NaN
58                NaN    NaN      NaN          NaN    NaN
67         2016-01-26   67.0      1.0          3.0   65.0
69         2016-01-26   69.0      1.0          3.0   65.0
70                NaN    NaN      NaN          NaN    NaN
79         2016-01-26   79.0      1.0          5.0   66.0
80         2016-01-26   80.0      1.0          5.0   66.0
81         2016-01-26   81.0      1.0          5.0   66.0
82                NaN    NaN      NaN          NaN    NaN
91         2016-01-26   91.0      1.0          7.0   59.0
92         2016-01-26   92.0      1.0          7.0   59.0
93         2016-01-26   93.0      1.0          7.0   59.0
94                NaN    NaN      NaN          NaN    NaN
104        2016-01-26  104.0      1.0          6.0   58.0
105        2016-01-26  105.0      1.0          6.0   58.0
106               NaN    NaN      NaN          NaN    NaN
115        2016-01-26  115.0      2.0          5.0   65.0
116        2016-01-26  116.0      2.0          5.0   65.0
117        2016-01-26  117.0      2.0          4.0   65.0
118               NaN    NaN      NaN          NaN    NaN
127        2016-01-26  127.0      9.0          4.0   89.0
128        2016-01-26  128.0      9.0          4.0   89.0
130               NaN    NaN      NaN          NaN    NaN
139        2016-01-26  139.0      3.0          3.0  101.0
140        2016-01-26  140.0      3.0          4.0  101.0
141        2016-01-26  141.0      3.0          4.0  101.0
142               NaN    NaN      NaN          NaN    NaN

In [34]:
ySlotDf

                 date  slot district_id  request_num  answer_num  gap
time_slot
43         2016-01-26    43          50            1           1    0
44         2016-01-26    44          50            1           0    1
45         2016-01-26    45          50            2           2    0
56         2016-01-26    56          50            4           3    1
67         2016-01-26    67          50            1           1    0
68         2016-01-26    68          50            4           2    2
69         2016-01-26    69          50            1           1    0
79         2016-01-26    79          50            5           2    3
80         2016-01-26    80          50            2           1    1
81         2016-01-26    81          50            3           2    1
91         2016-01-26    91          50            3           2    1
92         2016-01-26    92          50            1           1    0
93         2016-01-26    93          50            5           5    0
103        2016-01-26   103          50            3           3    0
105        2016-01-26   105          50            2           1    1
115        2016-01-26   115          50            3           2    1
128        2016-01-26   128          50            3           3    0
129        2016-01-26   129          50            1           1    0
139        2016-01-26   139          50            3           0    3
141        2016-01-26   141          50            2           2    0
44         2016-01-26    44          43            1           1    0
45         2016-01-26    45          43            2           1    1
55         2016-01-26    55          43            3           1    2
57         2016-01-26    57          43            2           0    2
68         2016-01-26    68          43            2           0    2
69         2016-01-26    69          43            4           3    1
79         2016-01-26    79          43            1           1    0
80         2016-01-26    80          43            3           3    0
81         2016-01-26    81          43            1           1    0
91         2016-01-26    91          43            9           2    7
...               ...   ...         ...          ...         ...  ...
129        2016-01-26   129          27          105          92   13
139        2016-01-26   139          27           76          74    2
140        2016-01-26   140          27           60          54    6
141        2016-01-26   141          27           64          59    5
43         2016-01-26    43          32            3           0    3
44         2016-01-26    44          32            6           2    4
45         2016-01-26    45          32            9           3    6
55         2016-01-26    55          32           10           5    5
56         2016-01-26    56          32            7           5    2
57         2016-01-26    57          32            2           1    1
68         2016-01-26    68          32            2           1    1
69         2016-01-26    69          32            1           1    0
79         2016-01-26    79          32            1           1    0
80         2016-01-26    80          32            3           3    0
81         2016-01-26    81          32            2           2    0
91         2016-01-26    91          32            6           3    3
92         2016-01-26    92          32            1           1    0
93         2016-01-26    93          32            2           1    1
103        2016-01-26   103          32            5           3    2
104        2016-01-26   104          32            7           7    0
105        2016-01-26   105          32            6           6    0
115        2016-01-26   115          32            4           4    0
116        2016-01-26   116          32            6           4    2
117        2016-01-26   117          32            4           4    0
127        2016-01-26   127          32            3           3    0
128        2016-01-26   128          32            2           2    0
129        2016-01-26   129          32            2           0    2
139        2016-01-26   139          32            3           3    0
140        2016-01-26   140          32            2           2    0
141        2016-01-26   141          32            1           0    1

[1650 rows x 6 columns]

In [ ]:
ser.rolling(window=5, win_type='triang').mean()

In [32]:
date = '2016-01-22'
slot = '46'

In [54]:
testDfDis1 = testDf[testDf['district_id'] == '1']

In [57]:
record = testDfDis1[(testDfDis1['date'] == date) & (testDfDis1['slot'] == 45)]

In [59]:
type(record)

pandas.core.frame.DataFrame

In [69]:
add = record.copy()

In [72]:
add['slot'] = 47

In [73]:
record.append(add)

,date_x,slot,district_id,traffic_level1,traffic_level2,traffic_level3,traffic_level4,date_y,Weather,temperature,PM25,date,request_num,answer_num,gap,request_num_rolling,answer_num_rolling,gap_rolling
2,2016-01-22,46,1,1537,304,118,84,2016-01-22,2.0,2.0,51.0,2016-01-22,175.0,170.0,5.0,186.75,183.25,3.5
2,2016-01-22,47,1,1537,304,118,84,2016-01-22,2.0,2.0,51.0,2016-01-22,175.0,170.0,5.0,186.75,183.25,3.5

In [ ]:
trainDf, testDf = create_matrix()